USE [master]
GO
/****** Object:  Database [BamdadSim]    Script Date: 4/11/2024 5:32:51 PM ******/
CREATE DATABASE [BamdadSim]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BamdadSim', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\BamdadSim.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BamdadSim_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\BamdadSim_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BamdadSim].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BamdadSim]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 4/11/2024 5:32:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[AccountId] [int] NOT NULL,
	[Email] [nvarchar](150) NULL,
	[Password] [nvarchar](150) NULL,
	[RoleId] [int] NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[AccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Call]    Script Date: 4/11/2024 5:32:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Call](
	[CallId] [int] IDENTITY(1,1) NOT NULL,
	[CallTitle] [nvarchar](50) NOT NULL,
	[CallDuration] [int] NOT NULL,
	[SenderId] [int] NOT NULL,
	[ReciverId] [int] NOT NULL,
	[Time] [datetime] NOT NULL,
 CONSTRAINT [PK_Call] PRIMARY KEY CLUSTERED 
(
	[CallId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Charge]    Script Date: 4/11/2024 5:32:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Charge](
	[ChargeId] [int] NOT NULL,
	[ChargePrice] [decimal](18, 3) NULL,
	[ChargeStatus] [bit] NULL,
 CONSTRAINT [PK_Charge] PRIMARY KEY CLUSTERED 
(
	[ChargeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ChargeSim]    Script Date: 4/11/2024 5:32:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChargeSim](
	[ChargeId] [int] NOT NULL,
	[SimId] [int] NULL,
 CONSTRAINT [PK_ChargeSim] PRIMARY KEY CLUSTERED 
(
	[ChargeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Person]    Script Date: 4/11/2024 5:32:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Person](
	[PersonId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NULL,
	[Gender] [bit] NULL,
	[Balance] [decimal](18, 3) NULL,
	[Address] [nvarchar](150) NULL,
 CONSTRAINT [PK_Person] PRIMARY KEY CLUSTERED 
(
	[PersonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Role]    Script Date: 4/11/2024 5:32:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Simcard]    Script Date: 4/11/2024 5:32:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Simcard](
	[SimId] [int] IDENTITY(1,1) NOT NULL,
	[Number] [nvarchar](50) NOT NULL,
	[PersonId] [int] NULL,
	[SimActive] [bit] NOT NULL,
	[Type] [bit] NOT NULL,
	[SimBalance] [decimal](18, 3) NOT NULL,
	[SimPrice] [decimal](18, 3) NULL,
 CONSTRAINT [PK_Simcard] PRIMARY KEY CLUSTERED 
(
	[SimId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SimReceipt]    Script Date: 4/11/2024 5:32:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SimReceipt](
	[ReceiptId] [int] IDENTITY(1,1) NOT NULL,
	[Price] [decimal](18, 3) NULL,
	[Time] [datetime] NULL,
	[SimId] [int] NOT NULL,
 CONSTRAINT [PK_SimReceipt] PRIMARY KEY CLUSTERED 
(
	[ReceiptId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Sms]    Script Date: 4/11/2024 5:32:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sms](
	[SmsId] [int] IDENTITY(1,1) NOT NULL,
	[SmsTitle] [nvarchar](150) NOT NULL,
	[SmsContent] [nvarchar](250) NOT NULL,
	[Time] [datetime] NOT NULL,
	[SenderId] [int] NOT NULL,
	[ReciverId] [int] NOT NULL,
 CONSTRAINT [PK_Sms] PRIMARY KEY CLUSTERED 
(
	[SmsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tariff]    Script Date: 4/11/2024 5:32:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tariff](
	[TariffId] [int] IDENTITY(1,1) NOT NULL,
	[CallTariff] [decimal](18, 3) NULL,
	[SmsTarrif] [decimal](18, 3) NULL,
 CONSTRAINT [PK_Tariff] PRIMARY KEY CLUSTERED 
(
	[TariffId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Account_Person] FOREIGN KEY([AccountId])
REFERENCES [dbo].[Person] ([PersonId])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Account_Person]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Account_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([RoleId])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Account_Role]
GO
ALTER TABLE [dbo].[Call]  WITH CHECK ADD  CONSTRAINT [FK_Call_Person] FOREIGN KEY([ReciverId])
REFERENCES [dbo].[Simcard] ([SimId])
GO
ALTER TABLE [dbo].[Call] CHECK CONSTRAINT [FK_Call_Person]
GO
ALTER TABLE [dbo].[Call]  WITH CHECK ADD  CONSTRAINT [FK_Call_Person1] FOREIGN KEY([SenderId])
REFERENCES [dbo].[Simcard] ([SimId])
GO
ALTER TABLE [dbo].[Call] CHECK CONSTRAINT [FK_Call_Person1]
GO
ALTER TABLE [dbo].[ChargeSim]  WITH CHECK ADD  CONSTRAINT [FK_ChargeSim_Charge] FOREIGN KEY([ChargeId])
REFERENCES [dbo].[Charge] ([ChargeId])
GO
ALTER TABLE [dbo].[ChargeSim] CHECK CONSTRAINT [FK_ChargeSim_Charge]
GO
ALTER TABLE [dbo].[ChargeSim]  WITH CHECK ADD  CONSTRAINT [FK_ChargeSim_Simcard] FOREIGN KEY([SimId])
REFERENCES [dbo].[Simcard] ([SimId])
GO
ALTER TABLE [dbo].[ChargeSim] CHECK CONSTRAINT [FK_ChargeSim_Simcard]
GO
ALTER TABLE [dbo].[Simcard]  WITH CHECK ADD  CONSTRAINT [FK_Simcard_Person] FOREIGN KEY([PersonId])
REFERENCES [dbo].[Person] ([PersonId])
GO
ALTER TABLE [dbo].[Simcard] CHECK CONSTRAINT [FK_Simcard_Person]
GO
ALTER TABLE [dbo].[SimReceipt]  WITH CHECK ADD  CONSTRAINT [FK_SimReceipt_Simcard] FOREIGN KEY([SimId])
REFERENCES [dbo].[Simcard] ([SimId])
GO
ALTER TABLE [dbo].[SimReceipt] CHECK CONSTRAINT [FK_SimReceipt_Simcard]
GO
ALTER TABLE [dbo].[Sms]  WITH CHECK ADD  CONSTRAINT [FK_Sms_Simcard] FOREIGN KEY([SenderId])
REFERENCES [dbo].[Simcard] ([SimId])
GO
ALTER TABLE [dbo].[Sms] CHECK CONSTRAINT [FK_Sms_Simcard]
GO
ALTER TABLE [dbo].[Sms]  WITH CHECK ADD  CONSTRAINT [FK_Sms_Simcard1] FOREIGN KEY([ReciverId])
REFERENCES [dbo].[Simcard] ([SimId])
GO
ALTER TABLE [dbo].[Sms] CHECK CONSTRAINT [FK_Sms_Simcard1]
GO
USE [master]
GO
