
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>شارژ حساب</h2>

<input class="form-control" name="newaccountbalance" type="number" />
<br />
<a type="button" class="btn btn-warning" value="پرداخت" href=""></a>


