
@{
    ViewBag.Title = "NoCredit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>شما هیچ سیم کارتی ندارید :(</h2>

<button type="button" class="btn btn-warning">@Html.ActionLink("خرید سیم کارت", "BuySim", "Sim")</button>
