
@{
    ViewBag.Title = "NoBalance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>اعتبار شما تمام شده است</h2>

<button type="button" class="btn btn-warning">@Html.ActionLink("خرید شارژ", "BuyCharge", "Charge")</button>
