
@{
    ViewBag.Title = "NoCredit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>مشتری گرامی بدهی شما به علت بدهی سیم کارت شما قطع میباشد</h2>


<button type="button" class="btn btn-warning">@Html.ActionLink("پرداخت بدهی", "Payment", "Receipt")</button>


